/*Website base design*/

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(33, 33, 33, 1);
  padding: 0px;
  margin: 0%;
  font-family: "firago", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  width: 100%;
}

footer {
  padding: 10px;
}

/* Font */

@font-face {
  font-family: "firago";
  src: url("/assets/fonts/FiraGO-Regular.woff") format("woff"),
    url("/assets/fonts/FiraGO-Regular.woff2") format("woff2");
}

/* Background Image */
.background-image {
  background-image: linear-gradient(
      to top,
      rgba(46, 47, 48, 0),
      rgb(20, 20, 20)
    ),
    url(assets/t2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

/* Navigation bar*/

.nav-bar {
  padding: 0px;
  margin: 0px;
  height: 10%;
  width: 100%;
  background-color: rgba(20, 20, 20, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  opacity: 0.6;
  position: fixed;
  z-index: 1;
}

/* Navigation bar Opacity */
.nav-bar:hover {
  opacity: 100%;
}

/* Navigation bar logo*/
.nav-bar-logo {
  height: 5rem;
  width: auto;
  -webkit-animation: fadeinout 5s ease-in;
  animation: fadeinout 5s ease-in;
  opacity: 0;
  animation-iteration-count: infinite;
  margin: 0px;
  padding: 0px;
}

@-webkit-keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
}

/* Navigation bar unordered list*/
.nav-link ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav-link li {
  list-style: none;
}
/* Nav Link Styling */
.nav-link li a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
}

/* Logo responsiveness */

@media screen and (max-width: 660px) {
  .nav-bar-logo {
    height: 3rem;
  }
}

/* Nav Link Responsiveness */

@media only screen and (max-width: 415px) {
  .nav-link li a {
    font-size: 11px;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 660px) {
  .nav-link li a {
    font-size: 11px;
    padding: 0.4rem;
  }
}

.home-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
  margin: 0px;
  padding: 0px;
}

/* Fade in effects for name, profession and professional links*/

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Delayed FadeIn animation on home page for name, role, socials */

.index-name,
.role,
.social-container {
  opacity: 0;
  -webkit-animation: fading ease-in 1s;
  animation: fading ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

#letter-J {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

#letter-U {
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

#letter-S {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#letter-T {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

#letter-I {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#letter-N {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#letter-C {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

#letter-U2 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

#letter-I2 {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

#profession {
  -webkit-animation-delay: 2.5;
  animation-delay: 2.5s;
}

.social-container {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

/* Targets each letter of my name to center and align each letter and change into inline */
.personal {
  display: inline;
  height: 10em;
  width: 100%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

h1 {
  position: relative;
  font-size: 500%;
}

/* for h1 responsiveness */

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 200%;
  }
}

/* Container for social icons on index.html */

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

/* Individual container for each social link */

.socials {
  padding: 0;
  margin: 3px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  position: relative;
}

.index-name {
  display: inline;
}
/* hover effect to enlarge social icons on main page*/
.socials:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*after effect to add text under social icon on main page*/
#github::after {
  content: "Github";
  position: absolute;
  padding-left: 8px;
  top: 100%;
}

#linkedin::after {
  content: "Linkedin";
  position: absolute;
  align-items: center;
  top: 100%;
}

#twitter::after {
  content: "Twitter";
  position: absolute;
  align-items: center;
  padding-left: 8px;
  top: 100%;
}

#resume::after {
  content: "Resume";
  position: absolute;
  align-items: center;
  top: 100%;
}

#copyright {
  display: absolute;
  margin: 0px;
  color: black;
}

/* Blog Page*/

main {
  display: absolute;
  padding-top: 240px;
}

.blog-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  position: relative;
}
/* Title of the blog */
.splash {
  height: 5rem;
  width: 100%;
  position: relative;
  top: 140px;
  text-align: center;
}
/* Blog article main container */
.blog-body-container > article,
.blog-body-container > article > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 80%;
  height: 100%;
  margin: 1rem;
}

.blog-image {
  height: auto;
  width: 70%;
}

.blog-title,
.blog-date,
.blog-content {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* glow effect on each element that is targeted */

.index-name,
.role,
.socials,
.nav-bar-links,
.bullet {
  text-shadow: 0 0 7px #fff, 0 0 10px rgb(193, 214, 73),
    0 0 21px rgb(214, 250, 11);
}
/* image wrapper */
.image-wrapper {
  width: 65%;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
  /* box-shadow: 0 0 7px #fff, 0 0 10px rgb(193, 214, 73),
    0 0 21px rgb(214, 250, 11); */
}
/* 
mouse hover zoom effect */
.image-wrapper img {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 1s;
}
.image-wrapper img:hover {
  transform: scale(1.2);
}

/* blog seperator above each blog styled as lights */

.lights {
  border: 1px solid white;
  width: 60%;
  height: 2px;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 0 7px #fff, 0 0 10px rgb(193, 214, 73),
    0 0 21px rgb(214, 250, 11), 0 0 36px rgb(214, 250, 11),
    0 0 48px rgb(214, 250, 11);
}

.blog-content {
  text-align: center;
  width: 75%;
  background-color: rgba(20, 20, 20, 0.5);
}
.blog-title {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .image-wrapper {
    width: 100%;
    height: auto;
  }
  .blog-content {
    width: 100%;
    height: auto;
  }
}

/* About Me page*/

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Profile Photo */
.toprow-photo {
  /* border: 1px solid white; */
  width: 80%;
  height: 500px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* overflow: hidden; */
}

.toprow-me {
  /* border: 1px solid white; */
  width: 80%;
  margin: 0px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

/* Me article container */
.toprow-me > article {
  /* border: 1px solid white; */
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(20, 20, 20, 0.7);
}

.toprow-me > article > section > header > h3,
.leftcolumn > article > section > header > h3,
.rightcolumn > article > section > header h3 {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* profile photo on about me page  */

.toprow-photo > img {
  display: flex;
  max-width: 30%;
  max-height: auto;
  align-self: center;
  clip-path: circle(50% at 50% 50%);
}

/* Responsiveness on profile photo */

@media only screen and (max-width: 750px) {
  .toprow-photo > img {
    max-width: 70%;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 750px) {
  .toprow-photo {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}

/* formatting on columns on about me page */

.leftcolumn,
.rightcolumn {
  border: 1px solid white;
  width: 40%;
  height: auto;
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.7);
  line-height: 20px;
}

/* Text styling on Coder Academy hyper link */
.toprow-me > article > section > a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: darkturquoise;
  text-decoration: underline;
}

.toprow-me > article > section > ul,
.leftcolumn > article > section > ul,
.rightcolumn > article > section > ul {
  list-style: none;
}

/* Styling and layout of the 2 columns on about me page */
.leftcolumn > article > section,
.rightcolumn > article > section {
  /* border: 1px solid white; */
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* set block display to inline */

.leftcolumn > article > section > ul > li {
  display: inline-block;
}

/* resize of content on about me page */

@media only screen and (max-width: 750px) {
  .leftcolumn > article > section > ul > li,
  .rightcolumn > article > section > ul > li,
  .toprow-me > article > * {
    font-size: 12px;
  }
}

/*Projects Page*/

.project-body-container > section {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

/* Container for all project containers */

.project-wrapper {
  /* border: 1px solid white; */
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

/* Individual project container */

.project-container {
  text-align: center;
  border: 1px solid white;
  margin: 5px;
  padding: 20px;
  min-width: 40%;
  min-height: 8rem;
  background-color: rgba(20, 20, 20, 0.7);
  box-shadow: 0 0 7px #fff, 0 0 10px rgb(193, 214, 73);
}

/* Project Icon */

.project-icon {
  transition: transform 1s;
  padding-top: 10px;
  box-sizing: border-box;
}

.project-icon:hover {
  transform: scale(1.2);
}

#project1 {
  max-height: 10rem;
  max-width: 8rem;
}

@media only screen and (max-width: 415px) {
  .project-container > h3 {
    font-size: 12px;
  }
}

/* Contact Me Page */

.contact-body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
}

.contact-me-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  padding: 0;
  margin: 0;
  width: 80%;
}

.contact-me-container {
  padding: 20px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-me-social {
  padding: 30px;
  display: flex;
}

.contact-me-blur {
  margin: 20px;
  width: 80%;
  display: flex;
  /* justify-content: center;
  flex-direction: row; */
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.contact-me-article {
  width: 100%;
  padding: 5%;
}

.background-image-contact {
  background-image: linear-gradient(
      to top,
      rgba(46, 47, 48, 0),
      rgb(20, 20, 20)
    ),
    url(assets/t2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.contact-footer {
  position: absolute;
  top: 95%;
}
